<div class="col-sm-offset-4 col-sm-4">
	<div class="panel panel-danger">
		<div class="panel-heading"><h1 class="panel-title text-center">Reset Password</h1></div>
		<div class="panel-body">
		<% if @user %>
			<%= form_tag password_reset_path(params[:id]), name: "user", class: "form-horizontal", method: :put do -%>
				<div class="field form-group">
					<%= label_tag "password", nil, class: "control-label sr-only" %>
					<div class="col-sm-12">
					<%= password_field_tag "password", nil, class: "form-control", placeholder: "Password", required: "true", title: "Password", "data-toggle": "tooltip", "data-placement": "left", autofocus: true, name: "user[password]" %>
					</div>
				</div>
				<div class="field form-group">
					<%= label_tag "password_confirmation", nil, class: "control-label sr-only" %>
					<div class="col-sm-12">
					<%= password_field_tag "password_confirmation", nil, class: "form-control", placeholder: "Password Confirmation", required: "true", title: "Password Confirmation", "data-toggle": "tooltip", "data-placement": "left", name: "user[password_confirmation]" %>
					</div>
				</div>
				<div class="field form-group">
					<%= label_tag "email", nil, class: "control-label sr-only" %>
					<div class="col-sm-12">
					<%= email_field_tag "email", nil, class: "form-control", placeholder: "Email", required: "true", title: "Email Address", "data-toggle": "tooltip", "data-placement": "left" %>
					<h5 class="text-muted">For security purposes, kindly enter your email address.</h5>
					</div>
				</div>
				<div class="actions form-group">
					<h7>&nbsp;</h7>
					<div class="col-sm-12 text-center">
					<%= submit_tag "Submit", class: "btn btn-danger", title: "Submit Reset Password", "data-toggle": "tooltip", "data-placement": "bottom" %>
					<%= button_tag "Clear", type: "reset", class: "btn btn-default", title: "Clear Above Field", "data-toggle": "tooltip", "data-placement": "bottom" %>
					</div>
				</div>
			<% end -%>
		<% end %>
		</div>
	</div>
</div>