<div class="col-sm-offset-4 col-sm-4">
	<div class="panel panel-default">
		<div class="panel-heading"><h1 class="panel-title text-center">Forgot Password</h1></div>
		<div class="panel-body">
			<%= form_tag password_resets_path, class: "form-horizontal" do -%>
				<div class="field form-group">
					<%= label_tag :email, nil, class: "control-label sr-only" %>
					<div class="col-sm-12">
					<%= email_field_tag :email, nil, class: "form-control", placeholder: "Email", required: "true", title: "Email Address", "data-toggle": "tooltip", "data-placement": "left", autofocus: true %>
					</div>
				</div>
				<div class="actions form-group">
					<h7>&nbsp;</h7>
					<div class="col-sm-12 text-center">
					<%= submit_tag "Submit", class: "btn", title: "Submit Forgot Password", "data-toggle": "tooltip", "data-placement": "bottom" %>
					<%= button_tag "Clear", type: "reset", class: "btn btn-default", title: "Clear Above Field", "data-toggle": "tooltip", "data-placement": "bottom" %>
					</div>
				</div>
			<% end -%>
		</div>
	</div>
</div>