<% commentor = comment.commentor.split("@").first.to_s() %>
<p>
  <%= link_to '<span class="glyphicon glyphicon-remove-sign"></span><span class="sr-only">Delete</span></a>'.html_safe, [comment.blag, comment], method: :delete, data: { confirm: "Do you really want to delete this comment from #{commentor}?" }, title: "Delete comment from #{commentor}", class: "text-danger", "data-toggle": "tooltip", "data-placement": "bottom" %> [<small class="code-blue" title="<%= commentor %> commented on <%= comment.created_at.strftime("%m/%e/%Y at %I:%M %p") %>" data-toggle="tooltip" data-placement="bottom"><strong><%= commentor %></strong></small>] <%= comment.remarks.html_safe %>
</p>