<%= form_for [@blog, @blog.comments.build], html: {class:"form-horizontal"} do |f| %>
	<div class="field form-group">
		<div class="hide">
			<%= f.text_field :commentor, class: "form-control", placeholder: "Name", title: "Name of Commentor", maxlength: "20", "data-toggle": "tooltip", "data-placement": "left", type: "hidden", value: current_user.email.to_s() %>
		</div>
		<div class="col-xs-10">
			<%= f.text_area :remarks, class: "form-control", placeholder: "Comment", title: "Comment or Remarks", "data-toggle": "tooltip", "data-placement": "left" %>
		</div>
		<div class="col-xs-offset-2 actions">
			<%= f.button '<span class="glyphicon glyphicon-pencil"></span><span class="sr-only">Comment</span>'.html_safe, type: "submit", class: "btn btn-primary", title: "Post Comment", "data-toggle": "tooltip", "data-placement": "bottom" %>
		</div>
	</div>
<% end %>