<div class="col-sm-offset-2 col-sm-8">
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">User Profile</h3>
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
	<%
	unless @user.blank?
		@user.attributes.keys.each do |key|
			if !key[/(id|token|password)+/]
				value = eval("@user.#{key}")
	%>
		<tr><th><%= key.titleize %></th><td><%= key.end_with?("at") && value ? value.strftime("%m/%e/%Y %I:%M %p") : value %></td></tr>
	<%
			end
		end
	else
	%>
		<tr><th class="text-center"><em>No details found...</em></th></tr>
	<%
	end
	%>
		</table>
	</div>
</div>
</div>