<div class="col-sm-offset-4 col-sm-4">
	<div class="panel panel-info">
		<div class="panel-heading"><h1 class="panel-title text-center">Sign Up</h1></div>
		<div class="panel-body">
			<%= form_for @user, html: { class: "form-horizontal" } do |f| %>
				<div class="field form-group">
					<%= f.label :email, class: "control-label sr-only" %>
					<div class="col-sm-12">
					<%= f.email_field :email, class: "form-control", placeholder: "Email", required: "true", title: "Email Address as Username", "data-toggle": "tooltip", "data-placement": "left", autofocus: true %>
					</div>
				</div>
				<div class="field form-group">
					<%= f.label :password, class: "control-label sr-only" %>
					<div class="col-sm-12">
					<%= f.password_field :password, class: "form-control", placeholder: "Password", required: "true", title: "Password", "data-toggle": "tooltip", "data-placement": "left" %>
					</div>
				</div>
				<div class="field form-group">
					<%= f.label :password_confirmation, class: "control-label sr-only" %>
					<div class="col-sm-12">
					<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation", required: "true", title: "Password Confirmation", "data-toggle": "tooltip", "data-placement": "left" %>
					</div>
				</div>
				<div class="actions form-group">
					<h7>&nbsp;</h7>
					<div class="col-sm-12 text-center">
					<%= f.submit "Sign Up", class: "btn btn-info", title: "Sign Up", "data-toggle": "tooltip", "data-placement": "bottom" %>
					<%= f.button :Clear, type: "reset", class: "btn btn-default", title: "Clear Above Fields", "data-toggle": "tooltip", "data-placement": "bottom" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>