<div class="jumbotron">
	<div class="container">
		<h1>Welcome to K@Blog!</h1>
		<p>Hello World!</p>
		<p>Hi Philippines!</p>
		<p class="text-muted"><strong><small>Get Started &raquo; <small><span class="glyphicon glyphicon-user"></span></small><span class="sr-only">User</span></small></strong></p>
	</div>
</div>