<%
cntBlog = 0
@blog.each do |b|
	cntBlog += 1
	title = b.title
	created = b.created_at.strftime("%m/%e/%Y at %I:%M %p")
%>
<h3>
	<sup><small><%= cntBlog %></small></sup>
	<%= b.title %>
	<small><small class="muted" data-toggle="tooltip" data-placement="bottom" title="<%= title %> has been created on <%= created %>"><%= created %></small></small>
	<small class="pull-right">
		<%= link_to '<span class="glyphicon glyphicon-eye-open"></span><span class="sr-only">Read</span>'.html_safe, b, title: 'Read', "data-toggle": "tooltip", "data-placement": "bottom" %>
		<%= link_to '<span class="glyphicon glyphicon-plus-sign"></span><span class="sr-only">Create</span>'.html_safe, new_blog_path, title: 'Create', "data-toggle": "tooltip", "data-placement": "bottom"  %>
		<%= link_to '<span class="glyphicon glyphicon-edit"></span><span class="sr-only">Update</span>'.html_safe, edit_blog_path(b), title: 'Update', "data-toggle": "tooltip", "data-placement": "bottom" %>
		<%= link_to '<span class="glyphicon glyphicon-remove-sign"></span><span class="sr-only">Delete</span></a>'.html_safe, b, method: :delete, data: { confirm: "Do you really want to delete #{title}?" }, title: 'Delete', "data-toggle": "tooltip", "data-placement": "bottom" %>
	</small>
</h3>
<blockquote>
	<p data-toggle="popover" data-placement="top" data-content="Click the Eye icon to read more about <%= b.title %>"><%= strip_tags(b.contents).first(80) + (strip_tags(b.contents).length > 80 ? "..." : "") %></p>
</blockquote>
<%= '<div class="divider"><hr /></div>'.html_safe if !@blog.count.eql?cntBlog %>
<% end %>