<%= form_for @user, html: {class:"form-horizontal"} do |f| %>
	<div class="row">
		<div class="small-4 columns">
		<%= f.label :first_name, for: :first_name %>
		</div>
		<div class="small-8 columns">
		<%= f.text_field :first_name, placeholder: "First Name", required: true %>
		</div>
	</div>
	<div class="row">
		<div class="small-4 columns">
		<%= f.label :middle_name, for: :middle_name %>
		</div>
		<div class="small-8 columns">
		<%= f.text_field :middle_name, placeholder: "Middle Name" %>
		</div>
	</div>
	<div class="row">
		<div class="small-4 columns">
		<%= f.label :last_name, for: :last_name %>
		</div>
		<div class="small-8 columns">
		<%= f.text_field :last_name, placeholder: "Last Name", required: true %>
		</div>
	</div>
	<div class="row">
		<div class="small-4 columns">
		<%= f.label :email, for: :email %>
		</div>
		<div class="small-8 columns">
		<%= f.email_field :email, placeholder: "Email Address", required: true %>
		</div>
	</div>
	<div class="row">
		<div class="small-4 columns">
		<%= f.label :password, for: :password %>
		</div>
		<div class="small-8 columns">
		<%= f.password_field :password, placeholder: "Password", required: true %>
		</div>
	</div>
	<div class="row">
		<div class="small-4 columns">
		<%= f.label :password_confirmation, for: :password_confirmation %>
		</div>
		<div class="small-8 columns">
		<%= f.password_field :password_confirmation, placeholder: "Password Confirmation", required: true %>
		</div>
	</div>
	<div class="row actions">
		<div class="small-12 columns">
		<%= f.submit :Save, class: "button" %>
		<%= f.button :Clear, type: "reset", class: "button secondary" %>
		</div>
	</div>
<% end %>