<div class="panel panel-default">
	<div class="panel-body">
	<%
	cntBlog = 0
	@blog.each do |b|
		cntBlog += 1
		title = b.title
		created = b.created_at.strftime("%m/%e/%Y at %I:%M %p")
		author = b.author.split("@").first.to_s()
	%>
		<sup><%= cntBlog %></sup>
		<%= link_to "<h4>#{b.title}</h4>".html_safe, read_blog_path(b), class: "btn btn-link", role: "button", title: "Read more about "+ b.title, "data-toggle":"tooltip", "data-placement": "bottom" %>
		<small><small class="muted" data-toggle="tooltip" data-placement="bottom" title="<%= title %> has been created on <%= created %> by <%= author %>">[<%= author %>] <%= created %></small></small>
		<blockquote>
			<p data-toggle="popover" data-placement="top" data-content="Click the title to read more about <%= b.title %>"><%= strip_tags(b.contents).first(80) + (strip_tags(b.contents).length > 80 ? "..." : "") %></p>
		</blockquote>
		<%= '<div class="divider"><hr /></div>'.html_safe if !@blog.count.eql?cntBlog %>
	<% end %>
	</div>
</div>