<%
title = @blog.title.to_s()
created = @blog.created_at.strftime("%m/%e/%Y at %I:%M %p")
updated = @blog.updated_at.strftime("%m/%e/%Y at %I:%M %p")
%>
<h3>
	<%= title %>
	<small><small class="muted" data-toggle="tooltip" data-placement="bottom" title="<%= title %> has been created on <%= created %>"><%= created %></small></small>
	<small class="pull-right">
		<%= link_to '<span class="glyphicon glyphicon-edit"></span><span class="sr-only">Update</span>'.html_safe, edit_blog_path(@blog), title: "Update #{title}", "data-toggle": "tooltip", "data-placement": "bottom"  %>
		<%= link_to '<span class="glyphicon glyphicon-remove-sign"></span><span class="sr-only">Delete</span></a>'.html_safe, blog_path(@blog), method: :delete, data: { confirm: "Do you really want to delete #{title}?" }, title: "Delete #{title}", "data-toggle": "tooltip", "data-placement": "bottom"  %>
	</small>
</h3>
<hr />
<div class="panel panel-default">
	<div class="panel-body text-justify">
		<blockquote><%= @blog.contents.html_safe %></blockquote>
	</div>
	<div class="panel-footer"><small><small class="muted" data-toggle="tooltip" data-placement="bottom" title="<%= title %> has been recently updated on <%= updated %>">Last Updated <%= updated %></small></small></div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h5 class="panel-title">Comments</h5>
	</div>
	<div class="panel-body">
		<%= render @blog.comments %>
		<%= '<p class="text-danger"><em>Nothing found...</em></p>'.html_safe unless @blog.comments.any? %>
	</div>
	<div class="panel-footer">
		<%= render "comments/formComment" %>
	</div>
</div>