<div class="col-sm-offset-4 col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading"><h1 class="panel-title text-center">Sign In</h1></div>
		<div class="panel-body">
			<%= form_for @user_session, html: { class: "form-horizontal" } do |f| %>
				<div class="field form-group">
					<%= f.label :email, class: "control-label sr-only" %>
					<div class="col-sm-12">
					<%= f.email_field :email, class: "form-control", placeholder: "Email", required: "true", title: "Email Address as Username", "data-toggle": "tooltip", "data-placement": "left", autofocus: true %>
					</div>
				</div>
				<div class="field form-group">
					<%= f.label :password, class: "control-label sr-only" %>
					<div class="col-sm-12">
					<%= f.password_field :password, class: "form-control", placeholder: "Password", required: "true", title: "Password", "data-toggle": "tooltip", "data-placement": "left" %>
					</div>
				</div>
				<div class="field form-group">
					<div class="checkbox col-sm-5">
					<label title="Keep me logged in?" data-toggle="tooltip" data-placement="left">
					<%= f.check_box :remember_me %> Keep me?
					</label>
					</div>
					<div class="col-sm-offset-1 col-sm-6" style="margin-top:7px">
					<%= link_to "Forgot Password?", new_password_reset_path, title: "Forgot Password?", "data-toggle": "tooltip", "data-placement": "bottom" %>
					</div>
				</div>
				<div class="actions form-group">
					<h7>&nbsp;</h7>
					<div class="col-sm-12 text-center">
					<%= f.submit "Sign In", class: "btn btn-primary", title: "Sign In", "data-toggle": "tooltip", "data-placement": "bottom" %>
					<%= f.button :Clear, type: "reset", class: "btn btn-default", title: "Clear Above Fields", "data-toggle": "tooltip", "data-placement": "bottom" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>