<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<ul class="nav navbar-nav">
				<li<%= current_page?("/") ? " class=active" : "" %>><%= link_to '&nbsp;<small><span class="glyphicon glyphicon-home"></span><span class="sr-only">Home</span></small>&nbsp;'.html_safe, root_path, class: "navbar-brand", title: "Home", "data-toggle": "tooltip", "data-placement": "bottom" %></li>
			</ul>
		</div>
		<div class="navbar-collapse collapse">
			<ul id="navbar-main" class="nav navbar-nav">
				<li<%= request.original_url[/blog\/all+/] ? " class=active" : "" %>><%= link_to '&nbsp;<span class="glyphicon glyphicon-list-alt"></span><span class="sr-only">All Blog</span>&nbsp;'.html_safe, all_blog_path, title: "All Blog", "data-toggle": "tooltip", "data-placement": "bottom" %></li>
			</ul>
			<% strUser = " ".to_s() + (current_user ? current_user.email.split("@").first : "").to_s() +'&nbsp;<span class="glyphicon glyphicon-user"></span><span class="sr-only">User</span>&nbsp;' %>
			<ul id="navbar-user" class="nav navbar-nav pull-right">
				<li<%= request.original_url[/(user|sign)+/] || (request.original_url[/blog+/] && !request.original_url[/blog\/all+/]) ? " class=active" : "" %> title="User Options" data-toggle="tooltip" data-placement="left">
					<%= link_to strUser.html_safe, "#", class: "dropdown-toggle", "data-toggle": "dropdown", title: "User Options" %>
					<ul class="dropdown-menu navbar-user pull-right" role="menu">
					<% if current_user %>
						<li<%= request.original_url[/blog+/] && !request.original_url[/blog\/all+/] ? " class=active" : "" %>><%= link_to '&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;My Blog'.html_safe, blog_index_url, title: "My Blog" %></li>
						<li<%= request.original_url[/user/] ? " class=active" : "" %>><%= link_to '&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;User Profile'.html_safe, users_path, title: "User Profile" %></li>
						<li><%= link_to '&nbsp;<span class="glyphicon glyphicon-log-out"></span>&nbsp;Sign Out'.html_safe, sign_out_path, method: :delete, title: "Sign Out" %></li>
					<% else %>
						<li<%= request.original_url[/sign\_in/] ? " class=active" : "" %>><%= link_to '<span class="glyphicon glyphicon-log-in"></span>&nbsp;Sign In'.html_safe, sign_in_path, title: "Sign In" %></li>
						<li<%= request.original_url[/users\/new/] ? " class=active" : "" %>><%= link_to '&nbsp;<span class="glyphicon glyphicon-edit"></span>&nbsp;Sign Up'.html_safe, new_user_path, title: "Sign Up" %></li>
					<% end %>
					</ul>
				</li>
			</ul>
			<% if current_user %>
			<ul id="navbar-search" class="nav navbar-nav col-sm-2 pull-right">
				<%= form_tag request.original_url[/blog\/all+/] ? search_all_path : search_blog_path, class: "form-horizontal" do -%>
				<li title="Search <%= request.original_url[/blog\/all+/] ? "All" : "My" %> Blog" data-toggle="tooltip" data-placement="left">
					<div class="input-group" style="margin-top:8px">
						<span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search"></span></span>
						<%= text_field_tag :search, nil, class: "form-control", placeholder: "Search...", "aria-describedby": "sizing-addon2" %>
					</div>
				</li>
				<% end -%>
			</ul>
			<% end %>
		</div>
	</div>
</nav>