<!DOCTYPE html>
<html>
<head>
	<title>K@Blog</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
		<%= render "layouts/navbar" %>
		<div id="main-container" class="container-fluid">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-10">
					<% flash.each do |name, msg| -%>
						<% msg = "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button><span class=\"sr-only\">"+ (name == 'danger' ? 'Error' : 'Success') +":</span><span class=\"glyphicon glyphicon-"+ (name == 'danger' ? 'exclamation' : 'ok') +"-sign\" aria-hidden=\"true\"></span> "+ msg %>
						<%= content_tag :div, msg.html_safe, class: "alert alert-#{name}", role: "alert" %>
					<% end -%>
					<%= yield %>
				</div>
			</div>
		</div>
		<footer class="text-center">
			<div class="divider"><hr /></div>
			<p class="text-muted">&trade; K@Blog &copy; <%= Time.now.year %></p>
		</footer>
</body>
</html>
<% flash.clear %>